<h1>ユーザ情報</h1>

<table border="1">
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
</table>

<% if current_user?(@user) %>
  <p><%= link_to '編集', edit_user_path %></p>
<% end %>
